@model List<DALK.PL_ANALYZER.Models.Matches.Match>

@{
    ViewBag.Title = "Meczyki";
}

    <div class="layer matches">
        @foreach (DALK.PL_ANALYZER.Models.Matches.Match m in Model)
        {
            <div class="match">
                <div class="match__heading">
                    <div class="match__gametitle">@m.Stage.GetStageName(), @m.Group.ToString()</div>
                    <div class="match__level">@m.League @m.Season, @m.DateTime.ToString("yyyy-MM-dd HH:mm:ss")</div>
                </div>
                <div class="match__result">
                    <div class="match__team match__winner">
                        <img class="match__icon" src="@m.Winner.IconUrl">
                        <div class="match__teamname">@m.Winner.ToString()</div>
                        <div class="match__score">@m.WinnerPoints</div>
                    </div>
                    <div class="match__team match__looser">
                        <img class="match__icon" src="@m.Looser.IconUrl">
                        <div class="match__teamname">@m.Looser.ToString()</div>
                        <div class="match__score">@m.LooserPoints</div>
                    </div>
                </div>
                <div class="match__description">@m.MatchDescription</div>
                <div class="match__mvp">MVP - @m.MVP.ToString()</div>
                <div class="match__navigation">
                    <a href="#" class="match__button">ZOBACZ</a>
                    <a href="#" class="match__button">SZCZEGÓŁY</a>
                    <a href="#" class="match__button">ANALIZUJ</a>
                </div>
            </div>
        }
    </div>